body{
  height: 100%;
}

#logo{
    margin-left: 5mm;
    color: cornsilk;
}

/* #nav-text{
    color: cornsilk;
}
.nav > li > a:hover{
    background-color: #00cc00;
} */

#graph2019{
    margin-left: 10mm;
    margin-top: 10mm;
}

#SOB2019{
    margin-left: 25mm;
}

/* #dataInput{
    width: 302mm;
    height: 100mm;
}
#yearNo{
    width: 302mm;
    height: 10mm;
}
#semesterNum{
    width: 302mm;
    height: 10mm;
}
#submitBtn{
    background-color: #990099;
    color: white;
    display: inline-block;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
#submitBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
#submitBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#submitBtn:hover span {
    padding-right: 25px;
}
  
#submitBtn:hover span:after {
    opacity: 1;
    right: 0;
} */

/* .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */


  
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #f2f2f2; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #ff6600;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 

  /*Navbar*/
 .navbar {
    background-color: #ff6600 !important;
    font-size: 11px;
    height: 60px;
} 

.navbar li a, .navbar, .navbar-brand{ 
    color: white !important;
    /*font-size: medium;*/
}
.navbar-brand{
    font-size: medium;
}

.navbar-nav li a:hover, /*.navbar-brand:hover,*/ .navbar-nav li.active a:hover {
    color: #2F4F4F !important;
    background-color: #A5C5C3 !important;
}

.navbar-nav li.active a {
    color: black;
    background-color: #429F9E !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.form-container{
  border: 0px solid #fff;
  padding: 40px 50px;
  margin-top: 10vh; 
  box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
}

#loginForm{
    border: 1px solid #ddd;
    margin: 40px 0;
    box-shadow: 5px 10px 10px 10px #ddd;
}

#loginForm .col-md-8{
    background-image: linear-gradient(#ffa93f4a, #f5f0eb3d), url(/bg.jpg);
    background-position: right;
}

#loginForm .col-md-4{
    padding: 40px 20px;
}

#loginForm label{
    font-size: 13px;
}

#loginForm .form-control{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    padding: 0;
    font-size: 12px;
}

#loginForm .btn{
    background-color: #fa8333ef;
    width: 100%;
    height: 40px;
    font-size: 13px;
    color: #fff;
}
 
.btn:hover{
    opacity: 0.85 !important;
}

 /* Style The Dropdown Button */
 .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover #dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }