<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form Reports</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
        

</head>

<body>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>    

    <!-- fixed nav -->
    <nav class= "navbar navbar-default navbar-fixed-top">
            <!-- <div class= "container-fluid"> -->
            <!-- Side nav -->
                
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href= "/index"> Home </a>
                <a href= "/graph"> Report/Graph Generator </a>
                <a href= "/form"> Data Input </a>
                <a href="/">Logout</a>
            </div>
                  
            <div id="main">
                <a class= "navbar-brand" href= "#" style="font-size: 30px;"> 
                    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span> 
                    Annex</a> 
          </div>
    </nav>
    <br> <br>

    <div class="container">
            <div class="card">
              <div class="card-header">
                <span style="font-size:18px;">Input Data</span>
              </div>
              <div class="card-body">
                    <form id="allDatasI" >
                        <div class="form-row">
                            <div class="form-group col-md-8">
                            <label for="inputYear">Year</label>
                            <select class="form-control" id="inputYear"  name="inputYear" onfocus="getCurrYear()">
                                <option value="none" selected>Select Year</option>
                            </select>
                            <span class="text-danger" id="span_inputYear"></span> 
                              <!-- <label for="inputYear">Year</label>
                              <input type="text" name="inputYear" id="inputYear" class="form-control"> -->
                            
                            </div>
                            <div class="form-group col-md-4">
                              <label for="semester">Semester</label>
                              <select type="text" class="form-control" id="semester"  name="semester">
                                  <option value="none" selected >Select Semester</option>
                                  <option value="Summer 01">Summer 01</option>
                                  <option value="Summer 02">Summer 02</option>
                                  <option value="Autumn 01">Autumn 01</option>
                                  <option value="Autumn 02">Autumn 02</option>
                                  <option value="Winter 01">Winter 01</option>
                                  <option value="Winter 02">Winter 02</option>
                              </select>
                              <span class="text-danger" id="span_semester"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                              <label for="ta_inputData">Input Data</label>
                              <textarea type="text" class="form-control" name="ta_inputData" id="ta_inputData" rows="8" cols="50"></textarea>
                              <span class="text-danger" id="span_btn_inputData" style="margin-left: 5px;"></span>
                            </div>
                        <input class="btn btn-warning" onclick="divide()" value="Add Data"id="btn_inputData" name="btn_inputData" type="button" >
                        <span class="text-success" id="span_SuccessMsg" style="margin-left: 5px;"></span>
                      <!--   </button> -->
                       <!--  <span class="text-danger float-center" id="errorMsg" style="margin-right:10px;font-size:18px;"></span> -->
                         </div>
                        </form>
            </div>
    </div>
    <br><br><br>
               
    <script type="text/javascript" src="../static/JS/script.js"></script>
                
   <!-- Script for navbar -->
   <script>
        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        }

        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    <!-- Bootstrap links -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        

    <script>
            function getCurrYear(){ 
                    var i, currentYear, startYear, endYear, newOption, inputYear;
                    inputYear = document.getElementById("inputYear");
                    currentYear = new Date().getFullYear();
                   // console.log(currentYear); 
                    startYear =1993;
                    endYear = currentYear;
    
                    for (i=endYear;i>=startYear;i--) {
                  //  console.log(i);
                    newOption = document.createElement("option");
                    newOption.value =i;
                  //  console.log(newOption.value);
    
                    newOption.innerHTML = i;
                /*     if (i == currentYear) {
                        newOption.selected = true;
                    } */
                    inputYear.appendChild(newOption);
                    }
                    
            }
    </script>
</body>

</html>