<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data Input</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
        

</head>

<body>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>    

  <!-- fixed nav -->
  <nav class= "navbar navbar-default navbar-fixed-top">
    <!-- Side nav -->
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href= "/index"> Home </a>
      <a href= "/graph"> Report/Graph Generator </a>
      <a href= "/form"> Data Input </a>
      <a href="/">Logout</a>
    </div>
                  
    <div id="main">
      <a class= "navbar-brand" href= "#" style="font-size: 30px;"> 
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span> 
          Annex</a> 
    </div>
  </nav>
  <div id= "con" onclick= "closeNav()">
    <br><br>

    <div class="container">
        <div class="card">
          <div class="card-header">
            <span style="font-size:18px;">Input Data</span>
          </div>
          <div class="card-body">
                <form id="allDatasI" >
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="inputYear">Year</label>
                            <select class="form-control" id="inputYear"  name="inputYear" onclick="getSemester()" onfocus="getCurrYear()">
                                <option value="none" selected>Select Year</option>
                            </select>
                            <span class="text-danger" id="span_inputYear"></span>                             
                            </div>
                            <div class="form-group col-md-4">
                              <label for="semester">Tests</label>
                              <select type="text" class="form-control" id="semester"  name="semester">
                                  <option value="none" selected >Select Semester</option>
                                  <!-- <option value="Summer 01">Summer 01</option>
                                  <option value="Summer 02">Summer 02</option>
                                  <option value="Autumn 01">Autumn 01</option>
                                  <option value="Autumn 02">Autumn 02</option>
                                  <option value="Spring 01">Spring 01</option>
                                  <option value="Spring 02">Spring 02</option> -->
                              </select>
                              <span class="text-danger" id="span_semester"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                              <label for="ta_inputData">Input Data</label>
                              <span class="text float-right" id="format">Input Format: Dept-Major Count PAID COUNT</span>
                              <textarea type="text" class="form-control" name="ta_inputData" id="ta_inputData" rows="8" cols="50"></textarea>
                              <span class="text-danger" id="span_btn_inputData" style="margin-left: 5px;"></span>
                            </div>
                        <input class="btn btn-warning" onclick="divide()" value="Add Data"id="btn_inputData" name="btn_inputData" type="button" style="background-color: #ff944d;" >
                        <input class="btn btn-warning"  value="Get Data" id="getdata" name="getdata" type="button" style="margin-left: 2px; background-color: #ff944d;" >
                        <span class="text-success" id="span_SuccessMsg" style="margin-left: 5px;"></span>
                      <!--   </button> -->
                       <!--  <span class="text-danger float-center" id="errorMsg" style="margin-right:10px;font-size:18px;"></span> -->
                         </div>
                        </form>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="ta_inputData">Input Data</label>
                <textarea type="text" class="form-control" name="ta_inputData" id="ta_inputData" rows="8" cols="50"></textarea>
                <span class="text-danger" id="span_btn_inputData" style="margin-left: 5px;"></span>
              </div>
              <input class="btn btn-warning" onclick="divide()" value="Add Data"id="btn_inputData" name="btn_inputData" type="button" style="background-color: #ff944d;" >
              <input class="btn btn-warning"  value="Get Data" id="getdata" name="getdata" type="button" style="margin-left: 2px; background-color: #ff944d;" >
              <span class="text-success" id="span_SuccessMsg" style="margin-left: 5px;"></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
               
  <script type="text/javascript" src="../static/JS/script.js"></script>
                
  <!-- Script for navbar -->
  <script>
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }
    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
      document.getElementById("con").style.marginLeft = "0";
    }
  </script>

  <!-- Bootstrap links -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
        

    <script>
            function getCurrYear(){ 
                    var i, currentYear, startYear, endYear, newOption, inputYear;
                    inputYear = document.getElementById("inputYear");
                    currentYear = new Date().getFullYear();
                   // console.log(currentYear); 
                    startYear =1993;
                    endYear = currentYear;
    
                    for (i=endYear+1;i>=startYear;i--) {
                  //  console.log(i);
                    newOption = document.createElement("option");
                    newOption.value =i;
                  //  console.log(newOption.value);
    
                    newOption.innerHTML = i;
                /*     if (i == currentYear) {
                        newOption.selected = true;
                    } */
                    inputYear.appendChild(newOption);
                    }
            }
            function getSemester(){
                document.getElementById("semester").innerHTML=" "
                var inputYear,currentYear,currentMonth;
                var newOption,newOption2,newOption3,newOption4,newOption5,newOption6;
                currentYear = new Date().getFullYear();
                currentMonth= new Date().getMonth();
                /* console.log("currentMonth:"+currentMonth); */
                inputYear = document.getElementById("inputYear").value;
                inputSemester = document.getElementById("semester");
                
                /* document.getElementById("span_inputYear").innerHTML=inputYear; */
                if(inputYear <= currentYear){
                   /*  console.log("inputYear:"+inputYear);
                    console.log("currentYear:"+currentYear); */
                    if(currentMonth>=8){
                        newOption = document.createElement("option");
                        newOption2 = document.createElement("option");
                        newOption3 = document.createElement("option");
                        newOption4 = document.createElement("option");
                        newOption5 = document.createElement("option");
                        newOption6 = document.createElement("option");
                        newOption.value ="Spring 01";
                         newOption.innerHTML ="Spring 01";
                         newOption2.value ="Spring 02";
                         newOption2.innerHTML ="Spring 02";
                         newOption3.value ="Autumn 01";
                         newOption3.innerHTML ="Autumn 01";
                         newOption4.value ="Autumn 02";
                         newOption4.innerHTML ="Autumn 02";
                         newOption5.value ="Summer 01";
                         newOption5.innerHTML ="Summer 01";
                         newOption6.value ="Summer 02";
                         newOption6.innerHTML ="Summer 02";
                         inputSemester.appendChild(newOption);
                         inputSemester.appendChild(newOption2);
                         inputSemester.appendChild(newOption3);
                         inputSemester.appendChild(newOption4);
                         inputSemester.appendChild(newOption5);
                         inputSemester.appendChild(newOption6);
                    }
                    else if(currentMonth>=4){
                        newOption = document.createElement("option");
                        newOption2 = document.createElement("option");
                        newOption3 = document.createElement("option");
                        newOption4 = document.createElement("option");
                        
                      
                         newOption.value ="Spring 01";
                         newOption.innerHTML ="Spring 01";
                         newOption2.value ="Spring 02";
                         newOption2.innerHTML ="Spring 02";
                         newOption3.value ="Autumn 01";
                         newOption3.innerHTML ="Autumn 01";
                         newOption4.value ="Autumn 02";
                         newOption4.innerHTML ="Autumn 02";
                         inputSemester.appendChild(newOption);
                         inputSemester.appendChild(newOption2);
                         inputSemester.appendChild(newOption3);
                         inputSemester.appendChild(newOption4);
                    }
                    else{
                        newOption = document.createElement("option");
                        newOption2 = document.createElement("option");
                        newOption.value ="Spring 01";
                         newOption.innerHTML ="Spring 01";
                         newOption2.value ="Spring 02";
                         newOption2.innerHTML ="Spring 02";
                         inputSemester.appendChild(newOption);
                         inputSemester.appendChild(newOption2);
                    }
                }else{
                    newOption = document.createElement("option");
                    newOption2 = document.createElement("option");
                 

                         newOption.value ="Spring 01";
                         newOption.innerHTML ="Spring 01";
                         newOption2.value ="Spring 02";
                         newOption2.innerHTML ="Spring 02";
                         inputSemester.appendChild(newOption);
                         inputSemester.appendChild(newOption2);
                  

                }
                
            }
    </script>
</body>

</body>
</html>