<html>

<head>
    <title>Form Reports</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
        

</head>

<body>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>     
    <!-- navbar -->
    <nav class="navbar navbar-dark" style="background-color: #28a428" id="nav-text">
        <div class="navbar-header">
            <a class="navbar-brand" id="logo">Annex</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/index" id="nav-text">Home</a></li>
                <li><a href="/graph" id="nav-text">Graph</a></li>
                <li><a href="#" id="nav-text">Features</a></li>
                <li><a href="/form" id="nav-text">Data Input</a></li>
                <li><a href="/" id="nav-text">Logout</a></li>
            </ul>
        </div>
    </nav>
    <!-- navbar -->
    <div id="dataBoxI" class="container">
        <h1>Data Input</h1>
        <br>           
        <form id="allDatasI">
            <label>Year Number: </label><br>
            <input type="text" id="yearNo" placeholder="  Input Year Number" required>
            <br><br>
            <label>Semester No: </label><br>
            <input type="text" id="semesterNum" placeholder="  Input Semester Number" required>
            <br><br>
            <label>Data:</label><br>
            <textarea  type="text" id="dataInput" placeholder="  Input Data" required></textarea>
            <br><br>
            <button class="btn" type="button" id="submitBtn" style="vertical-align:middle"><span>Submit</span></button>
        </form>
    </div>
               
    <script type="text/javascript" src="../static/JS/script.js"></script>
                
   
    <!-- Bootstrap links -->
    <script
                src="https://code.jquery.com/jquery-3.4.1.js"
                integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
                crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Bootstrap links -->
</body>

</html>