<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
  <!-- fixed nav -->
  <nav class= "navbar navbar-default navbar-fixed-top">
    <!-- Side nav -->
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href= "/index"> Home </a>
      <a href= "/graph"> Report/Graph Generator </a>
      <a href= "/form"> Data Input </a>
      <a href="/">Logout</a>
    </div>
              
    <div id="main">
      <a class= "navbar-brand" href= "#" style="font-size: 30px;"> 
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span> 
         Annex</a> 
    </div>
  </nav>

  <br><br>

  <div class="container">
    <h2 class="text-center"></h2>
    <br><br><br>
    
  </div>

<!-- Script for navbar -->
<script>
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    }
    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    }
</script>

<!-- Bootstrap links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>